<div class="container">
  <h3>Student Form</h3>

  <input type="text" placeholder="Name" [(ngModel)]="student1.name">
  <input type="number" placeholder="Age" [(ngModel)]="student1.age">
  <input type="text" placeholder="Grade" [(ngModel)]="student1.grade">
  <input type="text" placeholder="Subjects" [(ngModel)]="student1.subjects">

  <label>
    <input type="checkbox" [(ngModel)]="student1.isEnrolled"> Enrolled?
  </label>

  <h3>Address</h3>
  <input type="text" placeholder="Street" [(ngModel)]="student1.address.street">
  <input type="text" placeholder="City" [(ngModel)]="student1.address.city">
  <input type="text" placeholder="ZIP" [(ngModel)]="student1.address.zip">

  <button (click)="submitStudent()">Create Student</button>

  
  <app-displaydata [students]="students"
  
  (deleteStudentEvent)="deleteStudent($event)" 
  (editStudentEvent)="editStudent($event)"
 
  ></app-displaydata>
</div>






